Session.vim
result*
workspace
.direnv

# Haskell build artifacts
dist
dist-newstyle/
.hie/
.htf/
.stack-work/
.ghc.environment.*
cabal.project.local
*.hi
*.o
*.dyn_hi
*.dyn_o
*.hie
hie.yaml
tags
TAGS

# Neovim
.luarc.json
time.txt
.pre-commit-config.yaml
